/* General */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
:root {
  --myBlue: #14213d;
  --myCyan: #bfe4db;
  --myYellow: #fca311;
}
body {
  background-color: var(--myCyan);
  font-size: 32px;
}

.container {
  display: flex;
}

/* Header */
.header {
  background-color: var(--myBlue);
  color: var(--myCyan);
  justify-content: space-between;
  align-items: center;
  min-height: 16vh;
}
header h1 {
  padding-left: 1rem;
}
.links {
  list-style-type: none;
  padding-right: 1rem;
  color: var(--myCyan);
}
.nav-bar {
  padding: 0.25rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-bar :hover {
  color: var(--myYellow);
  cursor: pointer;
}

/* Body */
/* About Bulk */
.about {
  padding-bottom: 11rem;
}

/* About Copy */
.about-copy {
  margin: 1rem;
  border: 3px solid var(--myBlue);
  border-radius: 25px;
  max-height: 206px;
}
.about-copy img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}
.about-copy p {
  padding: 1rem;
}
/* Project Copy */
.projects-copy {
  flex-wrap: wrap;
  min-height: calc(100vh + 19vh);
}
.project-img {
  max-width: 57.4rem;
  margin: 1rem;
  border: 3px solid var(--myBlue);
  border-radius: 25px;
}
.projects a :hover {
  border: 3px solid var(--myYellow);
}

/* Footer */
.footer {
  background-color: var(--myBlue);
  color: var(--myCyan);
  justify-content: center;
  align-items: center;
  min-height: 16vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1vh;
}
.contacts {
  list-style-type: none;
}
.contact-link {
  color: var(--myCyan);
  font-size: 48px;
}
.contacts li :hover {
  color: var(--myYellow);
}
#linkedin {
  margin-right: 2rem;
}
#github {
  margin-left: 2rem;
}
